
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */